body {
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

.container {
  background: black;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 50px;
}

.desc-section {
  width: 450px;
  background: white;
  margin: 0 auto;
}

.profile {
  width: 100%;
}

.profile img {
  width: 100%;
}

.contact {
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem;
  margin: 0 2rem 3rem 2rem;
  font-size: 1.5rem;
}

.contact img {
  width: 1.5rem;
  vertical-align: middle;
}

.contct li {
  font-size: 1vw;
}

.desc {
  padding: 0 2rem 2rem 2rem;
  font-size: 1.3rem;
}

table {
  width: 20rem;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
}

.center {
  text-align: center;
}

@media (max-width: 768px) {
  .desc-section {
    width: 100%;
  }

  /* body {
    font-size: 50px;
  } */

  /* .contact img {
    width: 100px;
  } */

  /* .contact {
    font-size: 60px;
  } */
}
