.container {
  font-family: "Montserrat", sans-serif;
  background: black;
  width: 100%;
  margin: 0 auto;
  line-height: 2.3rem;
}

.desc-section {
  width: 450px;
  background: white;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

.bold,
.emphasize {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.center {
  text-align: center;
}

.profile {
  width: 100%;
}

.profile img {
  width: 100%;
}

.contact h2 {
  margin: 6% 0;
}

.contact {
  font-size: 2.25rem;
  border-bottom: 1px solid black;
  margin: 6.38% 7.5%;
}

.contact ul {
  margin: 50.45% 0 16.2% 0;
}

.desc {
  margin: 45.3% 7.5% 0 7.5%;
  font-size: 1.875rem;
}

.desc :nth-child(3) {
  margin-bottom: 80.52%;
}

.desc :nth-child(4),
.desc :nth-child(6),
.desc :nth-child(8),
.desc :nth-child(12),
.desc :nth-child(16),
.desc :nth-child(20) {
  margin-bottom: 17.51%;
}

.desc :nth-child(5),
.desc :nth-child(7),
.desc :nth-child(11),
.desc :nth-child(15) {
  margin-bottom: 38.43%;
}

.desc table {
  width: 100%;
  font-size: 1.5rem;
}

.desc th {
  border-top: 1px solid black;
}

.desc th,
.desc td {
  padding: 6%;
  border-bottom: 1px solid black;
}

.donation_date {
  margin: 0 auto 40% auto;
  text-align: left;
}

.donation_amount {
  text-align: center;
}

.donation_amount td {
  font-size: 4rem;
}

.margins {
  padding-bottom: 65%;
}

@media (max-width: 768px) {
  .desc-section {
    width: 100%;
  }

  .donation_date colgroup :nth-child(1) {
    width: 40%;
  }

  .donation_date colgroup :nth-child(2) {
    width: 60%;
  }

  /* body {
    font-size: 50px;
  } */

  /* .contact img {
    width: 100px;
  } */

  /* .contact {
    font-size: 60px;
  } */
}
